#resetButton1{
  float:right;
}
#resetButton2{
  float:right;
}
BODY{
  color:#000000;
  background-color: #F0F0F0;
  padding:5px 0 0 10px;
}
#annihilationLabel{
  margin-right:15px;
  width: 100px;
}
#radiogroup,#formation{
  margin-right:15px;
}
#kantaiLabel{
  text-align: right;
  width: 100px;
}
#slotNumSpinner{
  width: 70px;
  text-align: right;
  margin-right:15px;
}
#header1,#header2,#header1_,#header2_{
  text-align: center;
}
.result{
  text-align: right;
}
.input{
  text-align: left;
}
#alv{
  color:#45A9A5
}